.container-geral {
  background-image: url("../../_assets/img/tela6.png");
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* --------------- */
.container-texto {
  /* margin-top: 30px; */
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: var(--title-fonts);
}
.container-texto span {
  font-size: 16px;
}
.img1 {
  margin-top: -90px;
  margin-left: -110%;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  opacity: 90%;
  box-shadow: 0px 3px 3px;
}

.container-panel .panel-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.container-texto h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 500;
  font-family: var(--body-fonts);
  padding: 1rem;
  padding-bottom: 0;
}
.mb3 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.mb-3 .form-control {
  height: 40px;
  width: 290px;
  border-radius: 3px;
  border-color: transparent;
  background-color: #eceaf0;
  padding: 10px;
  align-items: center;
}
.span-input {
  display: flex;
  justify-content: start;
  font-family: var(--body-fonts);
  font-size: 14px;
  margin-left: 3px;
  margin-bottom: 1px;
}
/* ------------- */
.container-button {
  /* border: thin solid black; */

  background-color: var(--color-primary);
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  margin-top: 15px;
}
.icon {
  position: absolute;
  /* top:50%; */
  margin-left: 250px;
  transform: translateY(-120%);
  color: #c3c6cf;
}
.btn {
  padding: 10px;
  padding-left: 150px;
  font-family: var(--body-fonts);
  font-size: 20px;
  color: white;
  font-weight: bold;
}
/* .container-button button {
  color: white;
  background-color: var(--color-primary);
  border-radius: 5px;
  
}  */
/* .container-button button:hover {
  background-color: rgb(145, 31, 168, 0.5);
  transition: 0.5s; 
} */
/*  */
.panel-form {
  color: black;
  padding: 1rem;
  border: solid grey thin;
  border-radius: 7px;
  background-color: white;
  height: 400px;
  width: 400px;
  border-color: transparent;
  box-shadow: 0px 3px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel-row {
  height: 25px;
  width: 290px;
  margin: 10px;
  border-radius: 3px;
  border-color: transparent;
  background-color: #eceaf0;
  padding: 10px;
}

em {
  color: rgb(145, 31, 168);
  font-weight: 600;
}
