.card {
  
  /* border: #DDBF54; */
  background: var(--color-secondary);
  opacity: 90%;
  /* background-size: 100% 100%;
  border-color: transparent;
  background-image: url('../../_assets/img/tela6.png'); */
  /* outline: 0.01rem solid var(--mySubPurple); */
  padding: 10px;
  /* outline-offset: -6px; */
  /* outline-width: 1px; */
  width: 280px;
  height: 330px;
  transition: all 1s;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0px 2px 3px;
}


:root {
  --myBlack: #01161E;
  --myWhite: #f5efef;
  --myPurple: #802EB0;
  --myHGray: #4E546A;
  --myLGray: #D9D9D9;
  --myBlue: #5871F4;
  --myRed: #EE7272;
  --myYellow: #DDBF54;
  --myGreen: #70DF89;
  --mySubPurple: #8058F4;

}

.view {
  
  margin: 2px, auto;
  width: 285px;
  height: 150px;
}

.title {
  color: #D9D9D9;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}


.price {
  margin-top: -15px;
  color:#D9D9D9;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.desc {
  color: #D9D9D9;
  font-weight: bold;
  font-family: candara;
  padding: 10;
  text-align: center;
  font-size: 12px;
  width: 85%;
  padding-top: 0%;
  word-wrap: break-word;
  margin-top: -30px;

}

.vsicon {
  color: #ffff;
  background-color: var(--mySubPurple);
  border-radius: 90px;
  width: 30px;
  height: 30px;
}

.img {

  margin-top: -10px;
  /* max-width: 200px; */
  margin-left: -20px;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px ;
}

/* .arrows {
  float: right;
  top: 100px;
  transition: all 0.2s ease-in;
}

.arrow {
  display: inline-block;
  top: 40px;
  height: 8px;
  width: 60px;
}

.arrows:hover {
  transition: all 0.2s ease-in;
  transform: translateY(2px);
} */

.card:hover {
  transition: all 0.4s ease-in;
  transform: scale(1.1);
}

.vsicon:hover {
  transition: all 0.4s ease-in;
  transform: scale(1.1);
}