.container-text {
  color: white; 
  font-family: var(--body-fonts);
  background-color: var(--color-secondary);
  border: transparent;
}
.container-text h1 {
  font-family: var(--title-fonts);
}
/* .form-row {
  padding: 1em;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
} */
.form-group span, .form-row span {
  font-weight: 600;
  font-size: 1.05em;
  padding: 1rem;
}
.form-button {
  background-color: var(--color-tertiary);
  /* width: 200px; */
  padding: 0.30em;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 3px 3px ;
}
