.list-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.list-content + .list-content {
  padding-top: 24px;
  border-top: 1px solid #62378c30;
}

.product-detail {
  display: flex;
}

.product-detail img {
  width: 100px;
  border-radius: 5px;
}

.name-detail {
  padding-left: 20px;
  display: grid;
  margin-bottom: auto;
}

.name-detail h2 {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--body-fonts);
}
.name-detail h3 {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--body-fonts);
  font-style: italic;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;

  font-family: var(--body-fonts);
  color: var(--color-tertiary);
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}

.price span {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: var(--body-fonts);
  /* width: fit-content; */
  /* margin-top: 40px; */
  padding: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  text-transform: uppercase;
}
.price span svg {
  margin-right: 5px;
}

.price span:hover {
  color: rgb(231, 38, 38);
  cursor: pointer;
}

@media (max-width: 768px) {
  .price {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .list-content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    text-align: center;
    padding-top: 10px;
  }

  .price span {
    margin-top: 0px;
  }
  .name-detail h2 {
    font-size: 15px;
  }
  .list-content img {
    max-height: 100px;
  }
}
