:root {
  --myBlack: #01161e;
  --myWhite: #f5efef;
  --myPurple: #802eb0;
  --myHGray: #4e546a;
  /* --myLGray: #d9d9d9; */
  --myLGray: #f0f0f0;
  --myBlue: #5871f4;
  --myRed: #ee7272;
  --myYellow: #ddbf54;
  --myGreen: #70df89;
  --mySubPurple: #8058f4;
}

/* .productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
} */
.productCard {
  position: relative;
  background: var(--myLGray);
  margin: 1rem;
  padding: 1rem 0;
  flex: 1 0 25rem;
  max-width: 30rem;
  height: 43rem;
  /* transition: 0.2s; */
}

.productCard__mediaType {
  position: absolute;
  background-color: rgb(121, 76, 146);
  border-radius: 90px;
  width: 20px;
  height: 20px;
  font-size: 2rem;
  left: 9px;
  transition: all 0.4s ease-in;
  transform: scale(1.1);
}

.productCard__typeIcon {
  position: relative;
  font-size: 14px;
  fill:#FFFFFF;
  margin: 14% auto;
}

.productCard__cart{
  position: absolute;
  right: 0;
  margin: 1rem;
  font-size: 2rem;
  /* transition: 0.2s; */
  cursor: pointer;
  top: 1px;
}

.productCard__wishlist{
  position: absolute;
  right: 3rem;
  margin: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  /* transition: 0.2s; */
  cursor: pointer;
  top: 1px;
}

.productCard__cart:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.3);
  fill: var(--myPurple);
}

.productCard__wishlist:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.3);
  fill: var(--myPurple);
}

.productImage {
  margin-top: 3rem;
  width: 100%;
  height: 57%;
  /* display: inline-block;  */
  /* overflow:hiddn; */
}

/* .productCard__Content{
  overflow: auto;
  background-color: ;
  text-align: center;
} */

.productName{
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;  height: auto; 
  /* position: relative; */
  margin: 10% 5px;
}
.productInfo {
  /* display: inline-block; */
  height: 65px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.productPrice {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
}

.productCard:hover .productPrice{
  color:rgb(79, 42, 90);
}

.productDesc {
  font-family: candara;
  text-align: center;
  font-size: 12px;
  width: 90%;
  height: 40px;
  /* padding-top: 0%; */
  padding: 0px;
  /* background-color: red; */
  margin: 0 auto;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

html{
  font-size: 62.5%; 
  font-family: Arial, Helvetica, sans-serif;
}

.productCard:hover {
  transition: all 0.1s ease-in;
  transform: scale(1.02); 
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb
}

