.productCard {
  background: var(--myLGray);
  max-width: 17rem;
  width: 17rem;
  border-radius: 5px;

  min-height: 25rem;
}

.productCard:hover {
  transition: all 0.1s ease-in;
  transform: scale(1.02);
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  cursor: pointer;
}

.productCard__cart:hover {
  transition: 0.2s;
  transform: scale(1.3);
  fill: var(--myPurple);
}

.productCard__wishlist:hover {
  transition: 0.2s;
  transform: scale(1.3);
  fill: var(--myPurple);
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.productName {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 0px 10px;
  margin: 10px auto;
  font-family: var(--title-fonts);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productPrice {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.productCard:hover .productPrice {
  color: rgb(79, 42, 90);
}

.productDesc {
  font-family: var(--body-fonts);
  text-align: center;
  font-size: 12px;

  padding: 0px 10px;
  margin: 0 auto;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  color: #000;
}

.icones div:nth-child(1) {
  border-radius: 50%;
  background: var(--color-primary);
  padding: 4px;
  color: #fff;
}

.icones div:nth-child(2) {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .productCard {
    max-width: 15rem;
  }
}

@media (max-width: 576px) {
  .productName {
  }
}

@media (max-width: 480px) {
  .productCard {
    max-width: 100%;
  }
}
