.container-cred{
    padding: 15% 20% 5% 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-160px;
    background-color: hsl(0, 0%, 98%); 
}

h1{
    padding: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: var(--title-fonts);
}

.container-form-cred{
    text-align: center;
    padding: 30px;
    border-radius: 7px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 5px 5px 4px 4px;
    border: 1px solid transparent;
    border-bottom: 3px solid #eee;

}

.container-form-cred label{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 15px;
}
.span-input-cred {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-family: var(--body-fonts);
    font-size: 14px;
    margin-bottom: 4px;
  }

.parc{
    display: flex;
    width: 200px;
    border-radius: 7px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 13px;
    border: 1px solid #2d2d2d;
  
 
}
.container-form-cred .forms-cred {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.forms-cred input{
  display: flex;
  justify-content: start;
  font-family: var(--body-fonts);
  font-size: 14px;
  margin-bottom: 10px;

  
}

.container-form-cred .form-control-cred{
    height: 40px;
    width: 100%;
    border-radius: 3px; 
    border-color: transparent;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #2d2d2d;
    
    
}

.div-nome-band  {
    display: flex;
    flex-direction: column;
    flex: 1; 
}
.div-nome-band .form-control-dat-tel-1{
    margin-left: 5%;
    height: 40px;
    width: 95%;
    border-radius: 3px; 
    border-color: transparent;
    background-color: #ffffff;
    padding: 10px;
    align-self: start;
    border: none;
    margin-right: 8px;
    
}
.span-input-cred-ml5{
    margin-left: 5%;
    font-family: var(--body-fonts);
}
.div-extra-cred{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.div-extra-cred .span-input-cred{
    display: flex;
    align-items: center;
    font-family: var(--body-fonts);
    font-size: 14px;
    margin-bottom: 4px;
    margin-right: 8px;
}

.div-extra-cred .form-control-dat-tel{
    width: 100%;
    border: 1px solid #2d2d2d;
    border-radius: 3px; 
    background-color: #ffffff;
    padding: 10px;
   
    margin-right: 8px;
}
.bandeiras{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--body-fonts);
    font-size: 14px;
    margin-bottom: 4px;
    border: 1px solid #2d2d2d;
    margin-left: 5%;
    height: 40px;
    border-radius: 5px;
    font-family: var(--body-fonts);
}

.btn-cred{
    font-family: var(--title-fonts);
    box-shadow: 5%;
    background-color: var(--color-primary);
    border-radius: 5px;
    border-color: transparent;
    color: aliceblue;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    padding: 12px 60px;
    transition: 0.5s;
}
.btn-voltar{
    font-family: var(--title-fonts);
    box-shadow: 5%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    padding: 12px 60px;
    transition: 0.5s;
    margin-left: 8px;
}
.btn-voltar:hover{
    background-color: var(--color-primary);
    color: white;
}
.btn-cred:hover
  {
   background-color: var(--color-tertiary);
   color: white;
 }

 .btn-add-voltar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
 }

@media screen and (max-width: 480px) {
    .container-cred{
        
        padding: 45% 5% 5% 5%;
        width: 100%;  
    }

    .container-form-cred .form-control-cred {
        width: 100%;
    }
    

   }