header {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: 1.5fr 3fr 2fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 80px;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo a img {
  width: 130px;
  display: flex;
}

.search-box {
  display: flex;
  border: #cd9042;
}

.search-box input {
  height: 33px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 3px 0 0 3px;
  outline: none;
  font-family: var(--title-fonts);
  font-size: 12px;
}

.search-box:focus {
  border-radius: 5px;
}

.search-box > button {
  background-color: var(--color-tertiary);
  border: none;
  height: 33px;
  padding: 0 10px;
  font-weight: 500;
  font-family: var(--title-fonts);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-box > button > i {
  color: #fff;
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: flex;
  margin: 0 10px;
  cursor: pointer;
}

nav a:hover {
  color: var(--text-color-hover);
}

nav a i {
  font-size: 25px;
  padding: 5px;
}

nav span {
  font-size: 12px;
  font-weight: 500;
  font-family: var(--title-fonts);
}

/*dropdown user*/
.dropdown-user {
  display: grid;
  position: absolute;
  top: 70px;
  right: 90px;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  width: 280px;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown-user.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms;
}
.dropdown-user.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms;
}

.dropdown-user::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 40px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.cart {
  color: #fff;
  text-decoration: none;
  display: flex;
  margin: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart:hover{
  color: #eee;
}
.cart i {
  font-size: 25px;
  padding: 5px;
}

.col-cart nav {
  display: flex;
}

@media (max-width: 992px) {
  .logo {
    padding-right: 10px;
  }

  header {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2.5fr;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 110px;
    padding: 15px 20px;
  }

  .logo {
    width: 30%;
  }

  .col-cart {
    order: 0;
    width: 70%;
  }

  .col-search {
    order: 1;
    width: 100%;
  }

  .search-box {
    margin-top: 10px;
  }

  .cart i,
  nav a i {
    font-size: 25px;
  }

  nav span {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 30%;
  }

  .col-cart {
    order: 0;
    width: 70%;
  }

  .col-search {
    order: 1;
    width: 100%;
  }

  .search-box {
    margin-top: 10px;
  }

  .cart i,
  nav a i {
    font-size: 20px;
  }

  nav span {
    font-size: 10px;
  }
}
