@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    overflow-x: hidden;
}

.config {
    background: rgb(255, 255, 255);
    background: radial-gradient(
    circle,
    rgb(154, 30, 255) 0%,
    rgb(211, 155, 254) 84%,
    rgb(232, 226, 248) 100%
    );
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

body {
    margin: 0%;
    padding: 0%;
    font-family: montserrat, arial, verdana;
}

.form {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: blue;
    animation: move 1.5s;
    animation-fill-mode: forwards;

}
@keyframes move {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
.form-container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.form-container .header {
    flex: 20%;
    display: grid;
    place-items: center;
}

.form-container .body {
    flex: 60%;
}

.form-container .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
}

.form-container .footer button {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    background-color: rgb(118, 58, 203);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    margin: 5px;
}

.cpf-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cpf-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
}

.name-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-container input {
    margin: 5px;
    width: 200px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
}

.note {
    font-size: 14px;
    text-align: center;
}

.progressbar {
    width: 400px;
    height: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: rgb(98, 0, 255);
}

input {
    border: 2px solid rgb(98, 0, 255);
    border-radius: 5px;
}

input:focus {
    border: 3px solid rgb(98, 0, 255);
}

.panel-detail {
    border-radius: 8px;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-background-form);
}

.submit {
    font-family: var(--title-fonts);
    box-shadow: 5%;
    background-color: var(--color-primary);

    color: #ffff;
    padding: 10px 20px;

    border-color: transparent;
    border-radius: 5px;

    transition: all 0.3s ease-out;
}

.submit:hover {
    background: var(--color-tertiary);
    color: #000;
    font-weight: bold;
    text-decoration: none;
}